{% extends 'template.html.twig' %}

{% block title %}
    notes classe
{% endblock %}

{% block PageTitle %}
    Notes de la classe
{% endblock %}

{%  block body %}
    <table class="table">
        {% for note in notes %}
        <tr>
            <td>{{ note }}</td>
        </tr>
        {% endfor %}
    </table>
<div class="alert alert-info">
    <p>Nombre de notes : {{ notes | length }}</p>
    <p>Sommes des notes : {{ notes | sum }}</p>
    <p>Moyenne des notes : {{ (notes | sum) | average(notes | length) }}</p>
    <p>Note minimale : {{ min(notes) }}</p>
    <p>Note maximale : {{ max(notes) }}</p>
</div>
{% endblock %}
